@import "tailwindcss";

.backdrop-blur-sm {
    --tw-backdrop-blur: blur(4px); /* Giá trị blur mặc định */
    /* Thêm tiền tố WebKit */
    -webkit-backdrop-filter: var(--tw-backdrop-blur); 
    backdrop-filter: var(--tw-backdrop-blur);
}