

a {
  text-decoration: none !important;
}
ul > li {
  list-style: none;
}

.font-roboto {
  font-family: "Roboto", ui-sans-serif, system-ui, Arial, sans-serif;
}
.container {
  max-width: 1232px;
  margin: 0 auto;
}
.color-title {
  color: #003553 !important;
}
.color-title-hover {
  color: #1da1f2 !important;
}
h2 {
  text-transform: uppercase;
}
.bg-fade-vert {
  @apply bg-[#e8f4fd];
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    #000 12%,
    #000 88%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    #000 12%,
    #000 88%,
    transparent
  );
}
